<h1>All article tags</h1>

<ul>
  <% @tag.each do |t| %>
    <ul>
      <%= link_to t.name, tag_path(t) %>
      <%= " - " %>
      <%= link_to "delete", tag_path(t), method: :delete %>
    </ul>
  <% end %>
</ul>

<br>
<%= link_to "Back to articles", articles_path %>